.booking {

padding:70px 10%;

}



.booking h1 {

font-size:45px;

margin-bottom:40px;

}



.booking-form {

background:white;

padding:40px;

border-radius:25px;

}



.form-group {

display:flex;

flex-direction:column;

gap:10px;

margin-bottom:25px;

}



select,
input {


padding:15px;

border-radius:12px;

border:1px solid #ddd;

font-size:16px;


}



.calendar-container {


margin-top:40px;


}



#calendar {

margin-top:30px;

}



#calendar h3 {

font-size:28px;

margin-bottom:20px;

}



.week {


display:grid;

grid-template-columns:repeat(7,1fr);

gap:10px;

margin-bottom:10px;


}



.weekday {


text-align:center;

font-weight:bold;


}



.calendar-grid {


display:grid;

grid-template-columns:repeat(7,1fr);

gap:10px;


}



.calendar-day {


height:45px;

display:flex;

align-items:center;

justify-content:center;

border-radius:12px;

background:#eee;


}



.calendar-day.available {


background:#f4d6e7;

cursor:pointer;


}



.calendar-day.available:hover {


transform:scale(1.05);


}



.calendar-day.selected {


background:#d66ba0;

color:white;


}



.calendar-day.disabled {


opacity:0.3;


}



.day {


padding:15px;

background:#f4d6e7;

border-radius:10px;

cursor:pointer;

text-align:center;


}



.day.disabled {


opacity:0.4;

cursor:not-allowed;


}




.times {


margin-top:40px;

}



.time {


display:inline-block;

padding:15px 25px;

margin:10px;

background:#eee;

border-radius:20px;

cursor:pointer;


}



.time.active {


background:#d66ba0;

color:white;


}



.user-data {


margin-top:40px;

display:flex;

flex-direction:column;

gap:15px;

max-width:350px;


}



#bookButton {


padding:15px;

border:none;

border-radius:25px;

background:#d66ba0;

color:white;

cursor:pointer;

font-size:16px;


}